# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
env/
venv/
myvenv/
ENV/

# Environment Variables
*.env

# Database
db.sqlite3

# Media and Static Files
/media/
staticfiles/

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Others
*.~*
*.swp

